.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__inner {
        padding: 48px 40px;
        max-width: 450px;
        width: 100%;
        border: 1px solid var(--color-border);
        border-radius: 8px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    &__subtitle {
        padding-top: 8px;
        text-align: center;
    }

    &__input {
        margin-top: 24px;
        position: relative;
    }

    &__label {
        position: absolute;
        top: 14px;
        left: 11px;
        padding: 0 4px;
        color: var(--color-text-secondary);
        background-color: #fff;
        pointer-events: none;
        transition: .2s;

    }

    &__input-area {
        padding: 13px 15px;
        width: 100%;
        outline: none;
        border: 1px solid var(--color-border);
        transition: .1s;

        &:focus {
            border-color: var(--color-accent);

            & ~ .auth__label {
                top: -9px;
                font-size: 12px;
                color: var(--color-accent);      
            }
        }

        &.filled {
            & ~ .auth__label {
                top: 0px;
                font-size: 12px;    
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }

    &__btn {
        padding: 6px 8px;
        font-weight: 500;
        border-radius: 4px;
        transition: .1s;
    }

    &__register {
        display: block;
        color: var(--color-accent);
        transform: translateX(-8px);

        &:hover {
            background-color: #1a73e810;
            color: var(--color-accent-dark);
        }
    }

    &__submit {
        padding-left: 24px;
        padding-right: 24px;
        color: #fff;
        background-color: var(--color-accent);

        &:hover {
            background-color: var(--color-accent-dark);
        }
    }
}