:root {
    --color-text-primary: #202124;
    --color-text-secondary: #5f6368;
    --color-border: #dadce0;
    --color-accent: #1a73e8;
    --color-accent-dark: #185abc;
    --color-background: #fff;
    
}